compartment_id = ""

create_internet_gateway       = true
create_nat_gateway            = true
create_service_gateway        = false

create_drg                    = false
#drg_display_name             = var.drg_display_name
#freeform_tags                = var.freeform_tags
vcn_cidrs                     = ["10.0.0.0/16"]
vcn_dns_label                 = "testvcn"
vcn_name                      = "TestVCN"
lockdown_default_seclist      = true
subnets = {
    subnet1 = {name=public,cidr="10.0.1.0/24"}
    subnet2 = {name=private,cidr="10.0.2.0/24",type="private"}
}